*{
    margin:0;
    padding:0;
}

$colorDeFondo : #0229a8;
$colorDeLado : #0b0b0b;
.LoginMainContainer{
    width:100%;
    height: 100vh;
    background:$colorDeFondo;
    display: flex;
    justify-content: center;
    align-items: center;
    .LoginContainer{
        width: 55vw;
        height: 45vh;
        background:#fff;
        display: flex;
        flex-flow: row nowrap;
        box-shadow: 2px 2px 30px 3px darken($colorDeFondo,30%);
        .LoginSideContainer{
            width: 35%;
            height: 100%;
            background:$colorDeLado;
            position: relative;
            color:#fff;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 45px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                letter-spacing: 1.5px;
                font-weight: 600;
            }
            &::before{
                content:"";
                position: absolute;
                width:100%;
                bottom: -1px;
                height: 100%;
                background:inherit;
                transform-origin: top left;
                transform:skewx(8deg);
                z-index: -2;
            }
        }
        .LoginFormContainer{
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .LoginFormContent{
                width: 75%;
                height: 75%;
                display: flex;
                flex-flow: column;
                align-items: center;
                input{
                    width: 100%;
                    height: 60px;
                    text-align: center;
                    margin:20px 0px;
                    border:none;
                    background:transparent;
                    color:#0b0b0b;
                    border-bottom: solid 3px #0b0b0b;
                    outline: none;
                    font-size: 1.3em;
                    &:focus{
                        border-bottom: solid 3px $colorDeFondo;
                        transition:all .5s;
                    }
                }
                button{
                    display: inline-block;
                    padding: 3px 10px;
                    font-size: 1.8em;
                    background:transparent;
                    border: solid 3px #0b0b0b;
                    margin-top:20px; 
                    cursor: pointer;
                    &:hover{
                        border:solid 3px $colorDeFondo;
                        color:$colorDeFondo;
                        transition:all .2s;                        
                    }
                }
            }
        }
    }
}
